# Programming for Data Analytics - Project Dec 13th 2019

In [2]:
import pandas as pd
import numpy as np

# import Iris Data Set as a test
df = pd.read_csv("https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv")

# Pandas manipulating datasets

In [3]:
df # data frame (show it)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
df[['species', 'sepal_width', 'petal_width']] # return the daframe of the various columns I am interested in

       species  sepal_width  petal_width
0       setosa          3.5          0.2
1       setosa          3.0          0.2
2       setosa          3.2          0.2
3       setosa          3.1          0.2
4       setosa          3.6          0.2
5       setosa          3.9          0.4
6       setosa          3.4          0.3
7       setosa          3.4          0.2
8       setosa          2.9          0.2
9       setosa          3.1          0.1
10      setosa          3.7          0.2
11      setosa          3.4          0.2
12      setosa          3.0          0.1
13      setosa          3.0          0.1
14      setosa          4.0          0.2
15      setosa          4.4          0.4
16      setosa          3.9          0.4
17      setosa          3.5          0.3
18      setosa          3.8          0.3
19      setosa          3.8          0.3
20      setosa          3.4          0.2
21      setosa          3.7          0.4
22      setosa          3.6          0.2
23      setosa          3.3          0.5
24      setosa          3.4          0.2
25      setosa          3.0          0.2
26      setosa          3.4          0.4
27      setosa          3.5          0.2
28      setosa          3.4          0.2
29      setosa          3.2          0.2
..         ...          ...          ...
120  virginica          3.2          2.3
121  virginica          2.8          2.0
122  virginica          2.8          2.0
123  virginica          2.7          1.8
124  virginica          3.3          2.1
125  virginica          3.2          1.8
126  virginica          2.8          1.8
127  virginica          3.0          1.8
128  virginica          2.8          2.1
129  virginica          3.0          1.6
130  virginica          2.8          1.9
131  virginica          3.8          2.0
132  virginica          2.8          2.2
133  virginica          2.8          1.5
134  virginica          2.6          1.4
135  virginica          3.0          2.3
136  virginica          3.4          2.4
137  virginica          3.1          1.8
138  virginica          3.0          1.8
139  virginica          3.1          2.1
140  virginica          3.1          2.4
141  virginica          3.1          2.3
142  virginica          2.7          1.9
143  virginica          3.2          2.3
144  virginica          3.3          2.5
145  virginica          3.0          2.3
146  virginica          2.5          1.9
147  virginica          3.0          2.0
148  virginica          3.4          2.3
149  virginica          3.0          1.8

[150 rows x 3 columns]

In [9]:
df[2:6] # this will return rows interestingly!

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [11]:
df[['petal_length', 'petal_width']][2:8] # returns the specific columns from rows 2 to 8

   petal_length  petal_width
2           1.3          0.2
3           1.5          0.2
4           1.4          0.2
5           1.7          0.4
6           1.4          0.3
7           1.5          0.2

In [12]:
df.loc[2:6] # labels of the data frame

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [13]:
df.iloc[2:6] # uses position

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [14]:
df.loc[:, 'species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [17]:
df.loc[2:8, ['sepal_width', 'species']]

   sepal_width species
2          3.2  setosa
3          3.1  setosa
4          3.6  setosa
5          3.9  setosa
6          3.4  setosa
7          3.4  setosa
8          2.9  setosa

In [18]:
df.iloc[2] #iloc equals position!! NB

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object

In [19]:
df.iloc[2:4, 1]

2    3.2
3    3.1
Name: sepal_width, dtype: float64

In [22]:
df.iloc[1:10:2] # selection of different rows of the dataset using iloc

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
7           5.0          3.4           1.5          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [24]:
df.loc[:, 'species'] == 'setosa' # boolean selection i.e. use labels to look at all rows (:) check if SPecies is Setosa and if it is return True otherwise return false

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
       ...
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
Name: species, Length: 150, dtype: bool

In [27]:
df[df.loc[:, 'species'] == 'versicolor'] # this allows us only select the information that the previous algebra expression came back as true

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor